@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body {
  margin: 0;
  font-family: 'Audiowide', cursive;
  font-size: x-large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-attachment: fixed;
}