.container {
    display: grid;
    justify-self: center;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 5px solid transparent;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.24)) padding-box,
    linear-gradient(45deg, #FF52E5, #F6D242) border-box;
    margin-top: 315px;
    transition: 200ms;
    z-index: 1;
  }
  
  .container:hover {
    box-shadow: 3px 3px 20px #FF52E5, -3px -3px 20px #F6D242;
  }
  
  h2 {
    background: -webkit-linear-gradient(45deg, #FF52E5, #F6D242) border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  input {
    border: 0;
    outline: none;
    width: 200px;
    height: 30px;
    border-radius: 10px;
  }
  
  .email {
    height: 80px;
  }
  
  .password {
    height: 80px;
  }
  
  .error {
    color: #ffffff;
    font-size: 20px;
    width: 95%;
  }
  
  .submit {
    border: 0;
    font-weight: bolder;
    font-size: x-large;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-image: url(../../assets/background.jpg);
    color: aliceblue;
    transition: 200ms;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  
  .submit:hover {
    scale: 0.9;
    background-color: rgb(179, 120, 235);
  }
  
  .email {
    color: rgb(215, 215, 215);
    margin-top: 5px;
    font-size: 10px;
  }
  
  .password {
    color: rgb(215, 215, 215);
    margin-top: 5px;
    font-size: 10px;
  }