.footer {
    width: 100%;
    height: 65px;
    position: static;
    bottom: 0;
    justify-self: center;
    align-self:flex-end;
    background-color: rgb(0, 0, 0);
  }

  .footerText{
    background: -webkit-linear-gradient(45deg, #FF52E5, #F6D242) border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bolder;
  }