.selectors {
    display: grid;
    position: fixed;
    width: 100%;
    justify-content: center;
    height: 100px;
    grid-template-columns: 110px 110px 110px 80px;
    gap: 25px;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.445);
    border-bottom: 5px solid transparent;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #0011ff, #00ff37) border-box;
  }

  .selectors select {
    margin-top: 25px;
    margin-bottom: 15px;
    height: 40px;
    width: 120px;
    align-self: center;
    color: #01da30;
    font-size: 17px;
    padding-left: 5px;
    border-radius: 5px;
    font-weight: bolder;
    border-radius: 20px;
    border: 5px solid transparent;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #0011ff, #00ff37) border-box;
  }
  
  .reset {
    padding-top: 3px;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 80px;
    height: 35px;
    align-self: center;
    border: 0;
    font-weight: bolder;
    font-size: 17px;
    border-radius: 5px;
    justify-self: center;
    color: #01da30;
    border-radius: 20px;
    border: 5px solid transparent;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #0011ff, #00ff37) border-box;
  }

  .reset:hover {
    scale: 0.9;
    background-color: rgb(170, 104, 231);
  }
  
  .cards {
    display: grid;
    margin-top: -150px;
  }
  
  @media (max-width: 768px) {
    .selectors {
      margin-top: 150px;
      grid-template-columns: 100px 100px 100px 90px;
    }
  }