.selectors {
    display: grid;
    position: fixed;
    width: 100%;
    justify-content: center;
    height: 80px;
    grid-template-columns: 110px 110px 110px 80px;
    gap: 20px;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.445);
    border-bottom: 5px solid transparent;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #FF52E5, #F6D242) border-box;
  }
  
  .selectors select {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 35px;
    width: 110px;
    align-self: center;
    background-color: rgb(0, 0, 0);
    color: rgb(170, 104, 231);
    font-family: 'Orbitron';
    font-size: 12px;
    padding-left: 5px;
    border-radius: 5px;
    font-weight: bolder;
    border-radius: 20px;
    border: 5px solid transparent;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #FF52E5, #F6D242) border-box;
  }
  
  .reset {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80px;
    height: 35px;
    align-self: center;
    border: 0;
    background-color: rgba(0, 0, 0, 0.589);
    font-weight: bolder;
    border-radius: 5px;
    justify-self: center;
    font-family: 'Orbitron';
    color: rgb(170, 104, 231);
    border-radius: 20px;
    border: 5px solid transparent;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #FF52E5, #F6D242) border-box;
  }
  
  .reset:hover {
    scale: 0.9;
    background-color: rgb(170, 104, 231);
  }
  
  .cards {
    display: grid;
    margin-top: -150px;
  }
  
  @media (max-width: 768px) {
    .selectors {
      margin-top: 150px;
      grid-template-columns: 100px 100px 100px 90px;
    }
  }