.searchBar {
    display: grid;
    justify-self: center;
    align-content: center;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 450px;
    height: 50px;
  }
  
  .searchBar input {
    width: 250px;
    height: 35px;
    font-size: 14px;
    align-self: center;
    box-shadow: 2px 1px 2px 2px #00ff37;
    background-image: url(../../assets//BG3DD.png);
  }

  .input{
    color: white;
    padding-left: 15%;
    padding-top: 8px;
    font-family: 'Bungee Shade', cursive;
  }

  ::placeholder{
    color: white;
    padding-left: 15px;
    font-family: 'Bungee Shade', cursive;
  }
  .search {
    display: grid;
    width: 40px;
    height: 40px;
    align-content: center;
    background: linear-gradient(45deg, #0011ff, #00ff37) border-box;
    color: aliceblue;
    margin-left: 10px;
    border-radius: 50%;
    border: 0;
  }
  
  .search:hover {
    scale: 0.9;
    background-color: #00ff37;
    box-shadow: 0px 0px 5px #00ff37;
  }
  
  .search img {
    width: 27px;
  }
  
  .random {
    display: grid;
    width: 40px;
    height: 40px;
    align-content: center;
    background: linear-gradient(45deg, #0011ff, #00ff37) border-box;
    color: aliceblue;
    margin-right: 10px;
    border-radius: 50%;
    border: 0;
  }
  
  .random:hover {
    scale: 0.9;
    background-color: violet;
    box-shadow: 0px 0px 5px blueviolet;
  }
  
  .random img {
    width: 27px;
  }
  
  @keyframes latido {
    from {
      transform: scale(0.7);
    }
    to {
      transform: rotate(1.4);
    }
  }
  
  .favButton {
    display: grid;
  }
  
  .favButton button {
    background: linear-gradient(45deg, #0011ff, #00ff37) border-box;
    box-shadow: 0px 0px 5px violet;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    margin-right: 10px;
  }
  
  .favButton button:hover {
    scale: 0.9;
    background-color: violet;
    box-shadow: 0px 0px 5px blueviolet;
  }
  
  .favButton button img {
    width: 27px;
    padding-top: 5px;
    animation: latido 1s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotating {
    animation: rotate 2s linear infinite;
    background-color: aquamarine;
  }
  
  .rotating:hover {
    scale: 0.9;
    background-color: gray;
    box-shadow: 0px 0px 5px gray;
  }
  
  @media (max-width: 1280px) {
    .searchBar {
      width: 350px;
    }
    .searchBar input {
      width: 150px;
    }
  }
  
  @media (max-width: 768px) {
    .searchBar {
      margin-left: 0px;
    }
  
    .searchBar input {
      width: 150px;
    }
  }