.aboutContainer{
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  background: linear-gradient(black, black) padding-box,
  linear-gradient(45deg, #FF52E5, #F6D242) border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.aboutImg{

}

.P{
  color: white;
  text-align: start;
  font-size: xx-large;
}

.logo{
  height: 50px;
  width: auto;
}

.iconos{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  margin-left: 350px;
  margin-top: 15px;
}