.aboutContainer{
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid transparent;
  background: linear-gradient(black, black) padding-box,
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.aboutImg{
  display: flex;
  justify-content: center;
  align-items: center;
}
.P{
  color: white;
  text-align: start;
  font-size: xx-large;
}