.container {
    display: grid;
    justify-content: center;
    height: 60px;
  }
  
  .navbar {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    position: fixed;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 110px;
    background-color: rgba(45, 45, 45, 0.699);
    z-index: 2;
    border-top: 5px solid transparent;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #0011ff, #00ff37) border-box;
  }
  
  .buttons {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-left: 10px;
  }
  
  .logo img {
    width: 90px;
    margin-top: 10px;
    margin-right: 300px;
  }
  
  .homeButton{
    z-index: 3;
    background: -webkit-linear-gradient(45deg, #0011ff, #00ff37) border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-right: 87.5rem;
  }

  .homeButton h3{
    margin-top: 2.5rem;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 200ms;
    background: -webkit-linear-gradient(45deg, #0011ff, #00ff37) border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    box-shadow: 2px 1px 2px 2px #0011ff;
  }

  .homeButton:hover {
    scale: 0.955;
  }
  
  .aboutButton{
    background: -webkit-linear-gradient(45deg, #0011ff, #00ff37) border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .aboutButton  h3{
    cursor: pointer;
    margin-right: 10px;
    transition: 200ms;
    margin-right: 30px;
    background: -webkit-linear-gradient(45deg, #0011ff, #00ff37) border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    box-shadow: 2px 1px 2px 2px #00ff37;
    text-decoration: none;
  }
  
  .aboutButton:hover {
    scale: 0.955;
  }
  
  .logoutButton {
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    transition: 200ms;
    background: -webkit-linear-gradient(45deg, #0011ff, #00ff37) border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    box-shadow: 2px 1px 2px 2px #00ff37 
  }
  
  .logoutButton:hover {
    scale: 0.955;
  }
  
  @media (max-width: 768px) {
    .navbar {
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 50px 50px;
    }
  
    .logo {
      display: flex;
      justify-content: center;
      margin: 0;
    }
  
    .logo img {
      margin: 0;
      align-self: center;
    }
  
    .buttons {
      display: flex;
      justify-self: center;
      align-self: center;
      gap: 20px;
    }
  
    .favButton {
      display: grid;
      margin: 0;
      font-size: 10px;
      background-color: rgb(131, 181, 30);
      width: 65px;
      height: 30px;
      border-radius: 5px;
      align-content: center;
      justify-self: center;
      color: aliceblue;
    }
  
    .homeButton {
      display: grid;
      margin: 0;
      font-size: 10px;
      background-color: blueviolet;
      width: 65px;
      height: 30px;
      border-radius: 5px;
      align-content: center;
      justify-self: center;
      color: aliceblue;
    }
  
    .aboutButton {
      display: grid;
      margin: 0;
      font-size: 10px;
      background-color: blueviolet;
      width: 65px;
      height: 30px;
      border-radius: 5px;
      align-content: center;
      justify-self: center;
      color: aliceblue;
    }
  
    .logoutButton {
      display: grid;
      margin: 0;
      font-size: 10px;
      background-color: fuchsia;
      width: 65px;
      height: 30px;
      border-radius: 5px;
      align-content: center;
      justify-self: center;
      color: aliceblue;
    }
  }